<section class="search-box"
        data-search-box
        data-on-change="c.loadLinks()"></section>

<section class="links">
	<ul class="link-list">
		<li class="link" data-ng-repeat="link in c.links">
			<a class="title" data-ng-href="{{link.url}}" title="{{link.url}}" target="_blank">
				{{link.name}}
			</a>
			<span class="action-links">
				<span data-action-link="c.navigator.goToLink(link.id)">
					edit
				</span>
			</span>
			<div class="details">
				{{link.description}}
			</div>
			<span class="tags"
			      data-ng-if="c.searchHelper.tagHash"
			      data-tag-hash="c.searchHelper.tagHash"
			      data-tags="link.tagIds"
			      data-on-click="c.onToggleSelectedTags"></span>
		</li>
	</ul>
</section>