$main-font-color: #555;
$error-font-color: #990000;
$highlight-font-color: #006699;
$tooltip-background-color: #EEE;
$tooltip-border-color: #CCC;

html,
body,
input,
button, {
  color: $main-font-color;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  color: $highlight-font-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.notification-panel {
  font-size: 0.9rem;

  .notification {
    border: 1px solid $main-font-color;
    margin: 3px 0;
    padding: 3px;
  }

  .notification.error {
    border: 1px solid $error-font-color;
    color: $error-font-color;
  }
}

.main-navigation {
  list-style-type: none;

  .navigation-node {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px 5px 0;
  }
}

.tag-tree,
.search-box {
  font-size: 0.9rem;
}

.tag-tree {

  ul {
    ul {
      padding-left: 20px;
    }
  }

  .tag-collapsor {
    cursor: pointer;
  }

  .tag-label {
    cursor: pointer;

    &.selected {
      font-weight: bold;
    }
  }
}

.form-row {
  display: table-row;

  .form-cell {
    display: table-cell;
    padding: 10px 10px 10px 0;
  }
}

.link-list {

  .link {
    padding: 5px 0;

    .title {
      font-weight: bold;
    }

    .details {
      font-size: 0.9rem;
    }

    .tags {
      font-size: 0.9rem;

      .tag-hierarchy {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin-right: 20px;

        .applied-tag {
          .tag-label {
            padding: 0 10px;
            display:inline-block;
          }
          .tooltip {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            white-space: nowrap;
            background-color: $tooltip-background-color;
            border: 1px solid $tooltip-border-color;
          }
        }
      }
    }

    .action-link {
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}