$page-background-color: #FFF;
$notification-background-color: #EEE;
$main-font-color: #555;
$error-font-color: #990000;
$action-font-color: #006699;
$action-hover-font-color: #2288BB;
$tooltip-background-color: #EEE;
$tooltip-border-color: #CCC;

html,
body,
input,
button, {
  color: $main-font-color;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  margin: 10px;
}

a {
  color: $action-font-color;
  text-decoration: none;

  &:hover {
    color: $action-hover-font-color;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.notifications {
  font-size: 0.9rem;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: $page-background-color;
  opacity: 0.9;

  ul {
    margin: 5px 0;

    .notification {
      border: 1px solid $main-font-color;
      margin: 3px 0;
      padding: 3px;
      cursor: pointer;
      background-color: $notification-background-color;

      &.error {
        border: 1px solid $error-font-color;
        color: $error-font-color;
      }
    }
  }
}

.main-navigation {
  list-style-type: none;

  .navigation-node {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px 5px 0;
  }
}

.tag-tree,
input {
  font-size: 0.9rem;
}

.tag-tree {
  margin-left: 10px;

  ul {
    ul {
      padding-left: 20px;
    }
  }

  .tag-tree-node {
    position: relative;

    .tag-collapsor {
      position: absolute;
      left: -10px;
      cursor: pointer;
    }

    .tag-adder {
      cursor: pointer;
    }

    .tag-label {
      cursor: pointer;

      &.selected {
        font-weight: bold;
      }

      input {
        margin: 2px;
      }
    }
  }
}

.form-row {
  display: table-row;

  .form-cell {
    display: table-cell;
    padding: 10px 10px 10px 0;
  }
}

.link-list {
  .link {
    padding: 5px 0;

    .title {
      font-size: 1.2rem;
    }

    .details {
      font-size: 0.9rem;
    }
  }
}

.tags {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 20px;

  .tag {
    font-size: 0.8rem;

    .label {
      display: inline-block;
      white-space: nowrap;
      padding: 2px;
      background-color: $tooltip-background-color;
      border: 1px solid $tooltip-border-color;
    }

    .tooltip {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
    }

    &:hover {
      border: 0;

      .label {
        background-color: $tooltip-background-color;
        border-color: $tooltip-background-color;
      }

      .tooltip {
        background-color: $tooltip-background-color;
        border: 1px solid $tooltip-border-color;
      }
    }
  }
}

.action-link {
  font-size: 0.8rem;
  cursor: pointer;
}

.draggable {
  cursor: move;
}

.dropdown {
  position: relative;
  z-index: 10;

  .list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: $tooltip-background-color;
    border: 1px solid $tooltip-border-color;

    .item {
      margin: 3px;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover,
      &.active {
        font-weight: bold;
      }
    }
  }
}