/* <colors> */

/* general */
$page-background-color: #FFF;
$main-font-color: #333333;
$error-font-color: #BD2C00;
$success-font-color: #6CC644;

/* navigation */
$navigation-background-color: #999999;

/* search box */
$searchbox-background-color: #CCCCCC;

/* actions */
$action-color: #808080;
$action-active-color: #FF9900;

/* hoverables */
$hoverable-background-color: #E6E6E6;

/*</colors> */

/* <sizes> */

$border-radius: 6px;

/* </sizes> */

html,
body,
input,
button, {
  color: $main-font-color;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input::-webkit-input-placeholder {
  color: $action-color;
}

input:-moz-placeholder {
  color: $action-color;
}

input:-moz-placeholder {
  color: $action-color;
}

input:-ms-input-placeholder {
  color: $action-color;
}

input[type=text],
button {
  border: 1px solid $action-color;
  border-radius: $border-radius;
  padding: 4px;
}

input:focus,
button:hover {
  outline: 0;
  border: 1px solid $action-active-color;
}

button {
  cursor: pointer;
}

body {
  /* always show scroll-bar in order to prevent flickering */
  overflow-y: scroll;
  margin: 0;
}

a {
  color: $action-color;
  text-decoration: none;

  &:hover {
    color: $action-active-color;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-content {
  margin: 10px;
}

.notifications {
  font-size: 0.9rem;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  padding-bottom: 5px;
  background-color: $page-background-color;
  opacity: 0.9;

  ul {
    margin: 5px 0;
  }

  .notification {
    border: 1px solid $main-font-color;
    border-radius: $border-radius;
    margin: 3px 0;
    padding: 3px;
    cursor: pointer;

    &.error {
      border: 1px solid $error-font-color;
      color: $error-font-color;
    }
  }
}

.main-navigation {
  list-style-type: none;
  text-align: center;
  background-color: $navigation-background-color;
  padding: 4px;

  .navigation-node {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px 5px 0;

    &:last-child {
      padding-right: 5px;
    }

    &:hover,
    &.is-active {
      .action-link {
        background-color: $page-background-color;

        a {
          color: $action-active-color;
        }
      }
    }

    .action-link {
      border-radius: $border-radius;
      font-size: 1.2rem;
      padding: 0 10px;

      a {
        color: $page-background-color;
      }
    }
  }
}

.tag-tree,
input {
  font-size: 0.9rem;
}

.tag-tree {
  margin-left: 10px;

  ul {
    ul {
      padding-left: 20px;
    }
  }

  .tag-tree-node {
    position: relative;

    .tag-collapsor {
      position: absolute;
      height: 100%;
      left: -12px;
      cursor: pointer;
    }

    .tag-label {
      cursor: pointer;

      &.selected {
        font-weight: bold;
      }

      input {
        margin: 2px;
      }
    }
  }
}

form {
  width: 100%;
  display: table;

  .form-row {
    display: table-row;

    .form-cell {
      display: table-cell;
      padding: 10px 10px 10px 0;

      &.control {
        width: 100%;
      }

      input {
        width: 100%;
      }
    }
  }
}

.search-box {
  width: 100%;
  background-color: $searchbox-background-color;
  padding: 5px 0;

  > .container {
    width: 50%;
    margin: auto auto;

    .actions {
      text-align: center;
    }

    .sub-container {
      margin: 5px 0;

      input {
        width: calc(100% - 10px);
      }
    }
  }
}

.links {
  .link-list {
    .link {
      padding: 7px;
      border-radius: $border-radius;
      border: 1px solid $page-background-color;

      .title {
        font-size: 1.2rem;
        cursor: pointer;
      }

      .additional {
        font-size: 0.9rem;
        color: $action-color;
      }

      .details {
        font-size: 0.9rem;
      }

      &:hover {
        border-color: $action-active-color;
      }
    }
  }
}

.tag {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 10px;
  white-space: nowrap;

  .container {
    padding: 0 5px;
    background-color: $hoverable-background-color;
    color: $action-color;
  }

  &.is-hover {
    .container.popup {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;

      .label:hover {
        color: $action-active-color;
      }
    }
  }
}

.action-link {
  font-size: 0.9rem;
  cursor: pointer;
}

.draggable {
  a {
    cursor: move !important;
  }
}

.dropdown {
  position: relative;
  z-index: 10;

  .list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: $hoverable-background-color;
    color: $action-color;

    .item {
      margin: 3px;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover,
      &.active {
        color: $action-active-color;
      }
    }
  }
}

.buttons {
  margin-top: 10px;
}

.separator-element {
  padding: 0 5px;
}

/* touch/mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html,
  body,
  input,
  button {
    font-size: 14px;
  }

  body {
    overflow: auto;
  }

  .dropdown {
    .list {
      .item {
        font-size: 0.9rem;
      }
    }
  }

  .tag {
    .container {
      font-size: 0.9rem;
      margin: 3px 3px 3px 0;

      &.popup {
        .label {
          line-height: 1.8rem;
        }
      }
    }
  }

  .search-box > .container {
    width: 80%;
  }
}

/* animations */
.ng-enter {
  -webkit-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
}

.hide-animated-delayed-fast.ng-leave,
.hide-animated-delayed-fast.ng-hide {
  -webkit-animation: 0.2s fadeOut;
  animation: 0.2s fadeOut;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}