<section class="main-content">
    <form name="tagForm">
        <div data-form-element
             data-label="'Name'"
             data-type="'text'"
             data-model="c.tag.name"
             data-required="true"></div>
        <div data-form-element data-label="'Added'"
             data-disabled="true"
             data-type="'text'"
             data-model="c.dateHelper.formatDate(c.tag.created)"></div>
        <div data-form-element data-label="'Modified'"
             data-disabled="true"
             data-type="'text'"
             data-model="c.dateHelper.formatDate(c.tag.modified)"></div>
    </form>
    <div class="buttons">
        <button data-ng-click="c.navigator.goToTagInTree(c.tag.id)">
            View in tree
        </button>
        <button data-ng-if="c.tag.parentId > 0"
                data-ng-click="c.navigator.goToTagDetails(c.tag.parentId)">
            Go to parent
        </button>
        <button data-ng-click="c.updateTag()" data-ng-if="tagForm.$valid">
            Update
        </button>
        <span data-confirmation
              data-message-getter="c.getDeleteTagConfirmationMessage"
              data-on-ok-action="c.deleteTag">
            Delete
        </span>
    </div>
    <div class="tag-statistics" data-ng-if="c.tagStatistics">
        <ul>
            <li>{{c.tagStatistics.taggedLinksCount}} link(s) have this tag applied</li>
            <li>tag is applied {{c.tagStatistics.totalCount}} time(s) in total</li>
            <li>it is inherited {{c.tagStatistics.inheritedCount}} time(s)</li>
            <li>it is applied directly {{c.tagStatistics.directCount}} time(s)</li>
        </ul>
    </div>
</section>