<h2>Manage Tags</h2>

<div class="tag-tree"
     data-is-editable="true"
     data-on-change="c.setChangedTags(tag)"
     data-on-change-function="c.setChangedTags"
     data-tag-tree="c.tagTree.rootTag"></div>

<!-- todo: use notification service for this? same could be done in linkController -->
<div data-ng-if="c.numberOfChangedTags > 0">
	You have changed {{c.numberOfChangedTags}} tags.
</div>

<button data-ng-click="c.batchUpdateTags()">
	Update
</button>

<button data-ng-click="c.loadTags()">
	Cancel
</button>