<section class="search-box"
         data-search-box
         data-on-change="c.loadLinks()"></section>

<section class="main-content links">
    <ul class="link-list">
        <li class="link"
            data-ng-repeat="link in c.links"
            data-ng-mouseover="isHover=true;"
            data-ng-mouseleave="isHover=false;">

            <a class="title" data-ng-href="{{link.url}}" title="{{link.url}}" target="_blank">
                {{link.name}}
            </a>

            <span class="additional" data-ng-if="isHover">[
                <span data-authoring-infos="link"></span> |
                <span class="action-links">
                    <span data-action-link="c.navigator.goToLink(link.id)">
                        edit
                    </span>
                </span>
            ]</span>

            <div class="details" data-ng-if="link.description">
                {{link.description}}
            </div>

            <div class="tags"
                 data-ng-if="c.searchHelper.tagHash"
                 data-tag-hash="c.searchHelper.tagHash"
                 data-tags="link.tagIds"
                 data-on-click="c.onToggleSelectedTags"></div>

        </li>
    </ul>
</section>