<section class="search-box"
         data-search-box
         data-on-change="c.loadLinks()"></section>

<section class="main-content links">
    <ul class="link-list">
        <li class="link"
            data-ng-repeat="link in c.links"
            data-ng-mouseover="isHover=true;"
            data-ng-mouseleave="isHover=false;">

            <div class="tags"
                 data-ng-if="c.searchHelper.tagHash"
                 data-tag-hash="c.searchHelper.tagHash"
                 data-tags="link.tagIds"
                 data-on-click="c.onToggleSelectedTag"></div>

            <a class="title" data-ng-href="{{link.url}}" title="{{link.url}}" target="_blank">
                {{link.name}}
            </a>

            <span class="action-links" data-ng-if="isHover">
                [<span data-action-link="c.navigator.goToLink(link.id)">edit</span>]
            </span>

            <div class="details" data-ng-if="isHover && link.description">
                {{link.description}}
            </div>

            <div data-authoring-infos="link" class="authoring-infos" data-ng-if="isHover"></div>

        </li>
    </ul>
</section>